.content {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    gap: 50px;
    justify-content: space-between;
    margin-top: 40px;
}
h1 {
    color: beige;
    width: 50%;
    text-align:left;
}
h3 {
    text-align: right;
    color: beige;
    background-color: #3a2c2a;
    padding: 10px;
    padding-right: -2px;
    padding-left: -4px;
    border-radius: 30px;
}