header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 55px;
    border: 3px solid beige;
    border-radius: 20px;
}
nav a {
    color: beige;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    transition: 0.2s;
}
nav a:hover {
    color: #610c25;
    transform: scale(1.1);
}
.layout {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#background-photo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -1;
}
.content {
    position: relative;
    z-index: 1;
}
.logo {
    width: auto;
    height: 45px;
    transition: 0.2s;
}
.logo:hover {
    transform: scale(1.1);
}
.bg-olya {
    background: url("/background_photo.jpg");
}
.bg-marina {
    background-image: url("/background_photo_2.jpg");
}
.bg-katya {
    background-image: url("/contacts.jpg");
}
.bg-cake {
    background-image: url("/background_3.jpg");
}