.page {
    display: flex;
    flex-direction: column;
}
#background-photo {
    background: url("/background_photo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}